:root {
    --background-color: #fff;
    --background-light: #ebbebe;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --primary-color: rgb(94, 238, 81);
    --text-color: #0a0a0a;
    --text-light: #575757;
    --font-size: 20px;
    --animation-speed: 1;
}